In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [62]:
# Read CSV
df = pd.read_csv("celebA_Bangla.csv",encoding='utf-8')
df

,Unnamed: 0,image_id,হালকা_দাড়ি,কুচকানো_ভ্রু,আকর্ষণীয়,চোখের_নিচে_কালি,টাক,কপালে_ছড়ানো_চুল,বড়_ঠোঁট,বড়_নাক,...,জুলফি,হাসি,সোজা_চুল,ঢেউ_খেলানো_চুল,কানের_দুল_পরা,টুপি_পরা,লিপস্টিক_পরা,নেকলেস_পরা,টাই_পরা,অল্পবয়স্ক
0,0,000001.jpg,-1,1,1,-1,-1,-1,-1,-1,...,-1,1,1,-1,1,-1,1,-1,-1,1
1,1,000002.jpg,-1,-1,-1,1,-1,-1,-1,1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
2,2,000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,...,-1,-1,-1,1,-1,-1,-1,-1,-1,1
3,3,000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,1,-1,1,1,-1,1
4,4,000005.jpg,-1,1,1,-1,-1,-1,1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202594,202594,202595.jpg,-1,-1,1,-1,-1,-1,1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1
202595,202595,202596.jpg,-1,-1,-1,-1,-1,1,1,-1,...,-1,1,1,-1,-1,-1,-1,-1,-1,1
202596,202596,202597.jpg,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
202597,202597,202598.jpg,-1,1,1,-1,-1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,1
202598,202598,202599.jpg,-1,1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,1,-1,-1,1,-1,-1,1

In [63]:
# Numpy array of dataframe column names
cols = np.array(df.columns)
datafrem = pd.DataFrame(cols)
datafrem['imdex'] = [x for x in range(42)]
datafrem

                     0  imdex
0           Unnamed: 0      0
1             image_id      1
2           হালকা_দাড়ি      2
3         কুচকানো_ভ্রু      3
4             আকর্ষণীয়      4
5      চোখের_নিচে_কালি      5
6                  টাক      6
7      কপালে_ছড়ানো_চুল      7
8              বড়_ঠোঁট      8
9               বড়_নাক      9
10            কালো_চুল     10
11          সোনালী_চুল     11
12                ঘোলা     12
13          বাদামী_চুল     13
14             ঘন_ভ্রু     14
15                মোটা     15
16       দ্বীত্ব_থুতনি     16
17                চশমা     17
18                গোটি     18
19            ধূসর_চুল     19
20          ভারী_মেকাপ     20
21      উঁচু_গালের_হাড়     21
22               পুরুষ     22
23     মুখ_কিছুটা_খোলা     23
24                 মোছ     24
25             সরু_চোখ     25
26            দাড়ি_নেই     26
27  ডিম্বাকৃতির_চেহারা     27
28            ফ্যাকাশে     28
29            চোখা_নাক     29
30       সামনের চুল কম     30
31          গোলাপী_গাল     31
32               জুলফি     32
33                হাসি     33
34            সোজা_চুল     34
35      ঢেউ_খেলানো_চুল     35
36       কানের_দুল_পরা     36
37            টুপি_পরা     37
38        লিপস্টিক_পরা     38
39          নেকলেস_পরা     39
40             টাই_পরা     40
41           অল্পবয়স্ক     41

In [64]:
ndf = pd.DataFrame({'image_file_name':['f'],'text_description':['d']})
ndf

  image_file_name text_description
0               f                d

In [65]:
for i in range(len(df.index)):
    
    ifn = df.iloc[i,1] # image file name = ifn
    desc = ''
    gender = 'male' if df.iloc[i,22]==1 else 'female'
    age = 'young' if df.iloc[i,41]==1 else 'old'

    if gender=='male' and df.iloc[i,2]==1:
        if age=='young':
            desc+='ছেলেটির মুখে ছিল হালকা দাড়ি। '
        else:
            desc+='ভদ্রলোকের মুখে ছিল হালকা দাড়ি। '
    
    if df.iloc[i,3]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির ভ্রু কুচকানো ছিল। '
            else:
                desc+='ভদ্রলোকটির ভ্রু কুচকানো ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির ভ্রু কুচকানো ছিল। '
            else:
                desc+='ভদ্রমহিলার ভ্রু কুচকানো ছিল। '
    

    if df.iloc[i,5]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির চোখের নিচে কালি ছিল। '
            else:
                desc+='ভদ্রলোকটির চোখের নিচে কালি ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির চোখের নিচে কালি ছিল। '
            else:
                desc+='ভদ্রমহিলাটির চোখের নিচে কালি ছিল। '
    
    
    if df.iloc[i,6]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির মাথায় ছিল টাক। '
            else:
                desc+='ভদ্রলোকটির মাথায় ছিল টাক। '
        else:
            if age=='young':
                desc+='মেয়েটির মাথায় ছিল টাক। '
            else:
                desc+='ভদ্রমহিলার মাথায় ছিল টাক। '
    
    if df.iloc[i,7]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির কপালে ছড়ানো চুল ছিল। '
            else:
                desc+='ভদ্রলোকটির কপালে ছড়ানো চুল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির কপালে ছড়ানো চুল ছিল। '
            else:
                desc+='ভদ্রমহিলাটির কপালে ছড়ানো চুল ছিল। '

    if df.iloc[i,8]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির বড় ঠোঁট ছিল। '
            else:
                desc+='ভদ্রলোকটির বড় ঠোঁট ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির বড় ঠোঁট ছিল। '
            else:
                desc+='ভদ্রমহিলার বড় ঠোঁট ছিল। '
    
    if df.iloc[i,9]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির বড় নাক ছিল। '
            else:
                desc+='ভদ্রলোকটির বড় নাক ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির বড় নাক ছিল। '
            else:
                desc+='ভদ্রমহিলাটির বড় নাক ছিল। '
    
    if df.iloc[i,10]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির কালো চুল ছিল। '
            else:
                desc+='ভদ্রলোকের কালো চুল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির কালো চুল ছিল। '
            else:
                desc+='ভদ্রমহিলার কালো চুল ছিল। '


    if df.iloc[i,11]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির সোনালী চুল ছিল। '
            else:
                desc+='ভদ্রলোকের সোনালী চুল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির সোনালী চুল ছিল। '
            else:
                desc+='ভদ্রমহিলার সোনালী চুল ছিল। '
    

    if df.iloc[i,13]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির সোনালী চুল ছিল। '
            else:
                desc+='ভদ্রলোকটির সোনালী চুল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির সোনালী চুল ছিল। '
            else:
                desc+='ভদ্রমহিলাটির সোনালী চুল ছিল। '

    
    if df.iloc[i,14]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির সোনালী চুল ছিল। '
            else:
                desc+='ভদ্রলোকের সোনালী চুল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির সোনালী চুল ছিল। '
            else:
                desc+='ভদ্রমহিলাটির সোনালী চুল ছিল। '
    
    if df.iloc[i,15]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটি দেখতে মোটা ছিল। '
            else:
                desc+='ভদ্রলোকেটি দেখতে মোটা ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটি দেখতে মোটা ছিল। '
            else:
                desc+='ভদ্রমহিলাটি দেখতে মোটা ছিল। '
    
    if df.iloc[i,16]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির দ্বীত্ব থুতনি ছিল। '
            else:
                desc+='ভদ্রলোকের দ্বীত্ব থুতনি ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির দ্বীত্ব থুতনি ছিল। '
            else:
                desc+='ভদ্রমহিলাটির দ্বীত্ব থুতনি ছিল। '

    
    if df.iloc[i,17]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির চোখে চশমা ছিল। '
            else:
                desc+='ভদ্রলোকের চোখে চশমা ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির চোখে চশমা ছিল। '
            else:
                desc+='ভদ্রমহিলার চোখে চশমা ছিল। '

    if df.iloc[i,18]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির মুখে গোটি দাঁড়ি ছিল। '
            else:
                desc+='ভদ্রলোকের মুখে গোটি দাঁড়ি ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির মুখে গোটি দাঁড়ি ছিল। '
            else:
                desc+='ভদ্রমহিলার মুখে গোটি দাঁড়ি ছিল। '
        
    if df.iloc[i,19]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির ধূসর চুল ছিল। '
            else:
                desc+='ভদ্রলোকের ধূসর চুল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির ধূসর চুল ছিল। '
            else:
                desc+='ভদ্রমহিলাটির ধূসর চুল ছিল। '

    if df.iloc[i,20]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির মুখে ভারী মেকাপ ছিল। '
            else:
                desc+='ভদ্রলোকের মুখে ভারী মেকাপ ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির মুখে ভারী মেকাপ ছিল। '
            else:
                desc+='ভদ্রমহিলার মুখে ভারী মেকাপ ছিল। '
    

    if df.iloc[i,21]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির উঁচু গালের হাড় ছিল। '
            else:
                desc+='ভদ্রলোকের উঁচু গালের হাড় ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির উঁচু গালের হাড় ছিল। '
            else:
                desc+='ভদ্রমহিলাটির উঁচু গালের হাড় ছিল। '
    
    if df.iloc[i,23]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির মুখ কিছুটা খোলা ছিল। '
            else:
                desc+='ভদ্রলোকের মুখ কিছুটা খোলা ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির মুখ কিছুটা খোলা ছিল। '
            else:
                desc+='ভদ্রমহিলাটির মুখ কিছুটা খোলা ছিল। '

    if df.iloc[i,24]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির মুখে মোছ ছিল। '
            else:
                desc+='ভদ্রলোকের মুখে মোছ ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির মুখে মোছ ছিল। '
            else:
                desc+='ভদ্রমহিলার মুখে মোছ ছিল। '

    if df.iloc[i,25]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির সরু চোখ ছিল। '
            else:
                desc+='ভদ্রলোকের সরু চোখ ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির সরু চোখ ছিল। '
            else:
                desc+='ভদ্রমহিলার সরু চোখ ছিল। '

    
    if df.iloc[i,26]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির দাড়ি নেই। '
            else:
                desc+='ভদ্রলোকের দাড়ি নেই। '

    if df.iloc[i,27]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির চেহারা ডিম্বাকৃতির। '
            else:
                desc+='ভদ্রলোকের চেহারা ডিম্বাকৃতির। '
        else:
            if age=='young':
                desc+='মেয়েটির চেহারা ডিম্বাকৃতির। '
            else:
                desc+='ভদ্রমহিলাটির চেহারা ডিম্বাকৃতির। '

    
    if df.iloc[i,28]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির চেহারা ফ্যাকাশে। '
            else:
                desc+='ভদ্রলোকের চেহারা ফ্যাকাশে। '
        else:
            if age=='young':
                desc+='মেয়েটির চেহারা ফ্যাকাশে। '
            else:
                desc+='ভদ্রমহিলাটির চেহারা ফ্যাকাশে। '

    if df.iloc[i,29]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির চোখা নাক ছিল। '
            else:
                desc+='ভদ্রলোকের চোখা নাক ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির চোখা নাক ছিল। '
            else:
                desc+='ভদ্রমহিলার চোখা নাক ছিল। '

    if df.iloc[i,30]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির সামনের চুল কম ছিল। '
            else:
                desc+='ভদ্রলোকটির সামনের চুল কম ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির সামনের চুল কম ছিল। '
            else:
                desc+='ভদ্রমহিলার সামনের চুল কম ছিল। '

    if df.iloc[i,31]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির গোলাপী গাল ছিল। '
            else:
                desc+='ভদ্রলোকটির গোলাপী গাল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির গোলাপী গাল ছিল। '
            else:
                desc+='ভদ্রমহিলার গোলাপী গাল ছিল। '


    if df.iloc[i,32]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির জুলফি ছিল। '
            else:
                desc+='ভদ্রলোকটির জুলফি ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির জুলফি ছিল। '
            else:
                desc+='ভদ্রমহিলার জুলফি ছিল। '

    if df.iloc[i,33]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির মুখে ছিল হাসি। '
            else:
                desc+='ভদ্রলোকটির মুখে ছিল হাসি। '
        else:
            if age=='young':
                desc+='মেয়েটির মুখে ছিল হাসি। '
            else:
                desc+='ভদ্রমহিলার মুখে ছিল হাসি। '

    
    if df.iloc[i,34]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির সোজা চুল ছিল। '
            else:
                desc+='ভদ্রলোকের সোজা চুল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির সোজা চুল ছিল। '
            else:
                desc+='ভদ্রমহিলাটির সোজা চুল ছিল। '

    if df.iloc[i,35]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির ঢেউ খেলানো চুল ছিল। '
            else:
                desc+='ভদ্রলোকটির ঢেউ খেলানো চুল ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির ঢেউ খেলানো চুল ছিল। '
            else:
                desc+='ভদ্রমহিলার ঢেউ খেলানো চুল ছিল। '

    if df.iloc[i,36]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির কানে দুল পরা ছিল। '
            else:
                desc+='ভদ্রলোকটির কানে দুল পরা ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির কানে দুল পরা ছিল। '
            else:
                desc+='ভদ্রমহিলাটির কানে দুল পরা ছিল। '

    if df.iloc[i,37]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির টুপি পরা ছিল। '
            else:
                desc+='ভদ্রলোকটির টুপি পরা ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির টুপি পরা ছিল। '
            else:
                desc+='ভদ্রমহিলাটির টুপি পরা ছিল। '

    if df.iloc[i,38]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির লিপস্টিক পরা ছিল। '
            else:
                desc+='ভদ্রলোকটির লিপস্টিক পরা ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির লিপস্টিক পরা ছিল। '
            else:
                desc+='ভদ্রমহিলাটির লিপস্টিক পরা ছিল। '
    
    if df.iloc[i,39]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির নেকলেস পরা ছিল। '
            else:
                desc+='ভদ্রলোকটির নেকলেস পরা ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির নেকলেস পরা ছিল। '
            else:
                desc+='ভদ্রমহিলাটির নেকলেস পরা ছিল। '

    if df.iloc[i,40]==1:
        if gender=='male':
            if age=='young':
                desc+='ছেলেটির টাই পরা ছিল। '
            else:
                desc+='ভদ্রলোকটির টাই পরা ছিল। '
        else:
            if age=='young':
                desc+='মেয়েটির টাই পরা ছিল। '
            else:
                desc+='ভদ্রমহিলাটির টাই পরা ছিল। '

    new_row = [ifn,desc]
    ndf.loc[i] = new_row
ndf

       image_file_name                                   text_description
0           000001.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির সোনালী চুল ছ...
1           000002.jpg  মেয়েটির চোখের নিচে কালি ছিল। মেয়েটির বড় নাক ছি...
2           000003.jpg  ছেলেটির বড় ঠোঁট ছিল। ছেলেটির সরু চোখ ছিল। ছেলে...
3           000004.jpg  মেয়েটির চোখা নাক ছিল। মেয়েটির সোজা চুল ছিল। মে...
4           000005.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির বড় ঠোঁট ছিল।...
...                ...                                                ...
202594      202595.jpg  মেয়েটির বড় ঠোঁট ছিল। মেয়েটির সোনালী চুল ছিল। ম...
202595      202596.jpg  ছেলেটির কপালে ছড়ানো চুল ছিল। ছেলেটির বড় ঠোঁট ছ...
202596      202597.jpg  ছেলেটির কালো চুল ছিল। ছেলেটির চোখে চশমা ছিল। ছ...
202597      202598.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির বড় ঠোঁট ছিল।...
202598      202599.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির সোনালী চুল ছ...

[202599 rows x 2 columns]

In [66]:
ndf.to_csv('text_1_bn_descr_celeba.csv',index=False)

In [33]:
read = pd.read_csv('text_1_bn_descr_celeba.csv')
read

       image_file_name                                   text_description
0           000001.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির সোনালী চুল ছ...
1           000002.jpg  মেয়েটির চোখের নিচে কালি ছিল। মেয়েটির বড় নাক ছি...
2           000003.jpg  ছেলেটির বড় ঠোঁট ছিল। ছেলেটির সরু চোখ ছিল। ছেলে...
3           000004.jpg  মেয়েটির চোখা নাক ছিল। মেয়েটির সোজা চুল ছিল। মে...
4           000005.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির বড় ঠোঁট ছিল।...
...                ...                                                ...
202594      202595.jpg  মেয়েটির বড় ঠোঁট ছিল। মেয়েটির সোনালী চুল ছিল। ম...
202595      202596.jpg  ছেলেটির কপালে ছড়ানো চুল ছিল। ছেলেটির বড় ঠোঁট ছ...
202596      202597.jpg  ছেলেটির কালো চুল ছিল। ছেলেটির চোখে চশমা ছিল। ছ...
202597      202598.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির বড় ঠোঁট ছিল।...
202598      202599.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির সোনালী চুল ছ...

[202599 rows x 2 columns]

In [34]:
filtered = read[pd.notnull(read['text_description'])]
filtered

       image_file_name                                   text_description
0           000001.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির সোনালী চুল ছ...
1           000002.jpg  মেয়েটির চোখের নিচে কালি ছিল। মেয়েটির বড় নাক ছি...
2           000003.jpg  ছেলেটির বড় ঠোঁট ছিল। ছেলেটির সরু চোখ ছিল। ছেলে...
3           000004.jpg  মেয়েটির চোখা নাক ছিল। মেয়েটির সোজা চুল ছিল। মে...
4           000005.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির বড় ঠোঁট ছিল।...
...                ...                                                ...
202594      202595.jpg  মেয়েটির বড় ঠোঁট ছিল। মেয়েটির সোনালী চুল ছিল। ম...
202595      202596.jpg  ছেলেটির কপালে ছড়ানো চুল ছিল। ছেলেটির বড় ঠোঁট ছ...
202596      202597.jpg  ছেলেটির কালো চুল ছিল। ছেলেটির চোখে চশমা ছিল। ছ...
202597      202598.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির বড় ঠোঁট ছিল।...
202598      202599.jpg  মেয়েটির ভ্রু কুচকানো ছিল। মেয়েটির সোনালী চুল ছ...

[202082 rows x 2 columns]

In [35]:
col = filtered['text_description']
count = 0
for x in col:
    if pd.isnull(x):
        count+=1
count

0

In [38]:
filtered.to_csv('text_1_bn_descr_celeba.csv',index=False)